:root { 
--white_A700_33:#ffffff33; 
--yellow_600:#ffd233; 
--black_900_33:#00000033; 
--black_900:#000000; 
--teal_900:#134056; 
--light_blue_600_01:#01a0d9; 
--light_blue_600:#019dd6; 
--teal_900_0c:#1340560c; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--teal_900_5e:#1340565e; 
--teal_900_87:#13405687; 
}